# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
.ruff_cache/
.pytest_cache/

# Virtual envs
venv/
.venv/

# Abletools artifacts
.abletools_catalog/
*.bak
test.als
resources/out.txt
resources/ChatGPT Image Jan 18, 2026, 02_19_59 AM.png

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
